a.social {
    --bg-img: "";
    background-image: var(--bg-img);
    width: 1.5rem;
    height: 1.5rem;
    display: block;

    -webkit-background-clip: initial;
    background-clip: initial;


    &[aria-label="tik-tok"] {
        background-image: url(../Assets/icons/tiktok.svg);
    
        &:hover {
            background-image: url(../Assets/icons/tiktok-hover.svg);
        }
    }
    &[aria-label="instagram"] {
        background-image: url(../Assets/icons/instagram.svg);
    
        &:hover {
            background-image: url(../Assets/icons/instagram-hover.svg);
        }
    }
    &[aria-label="twitter"] {
        background-image: url(../Assets/icons/twitter-x.svg);
    
        &:hover {
            background-image: url(../Assets/icons/twitter-x-hover.svg);
        }
    }
    &[aria-label="discord"] {
        background-image: url(../Assets/icons/discord.svg);
    
        &:hover {
            background-image: url(../Assets/icons/discord-hover.svg);
        }
    }

}
